@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff;
}

a {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding: 15px 30px;
  border: 2px solid #111;
  color: #111;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

a:before {
  content: "";
  position: absolute;
  top: 6px;
  left: -2px;
  height: calc(100% - 12px);
  width: calc(100% + 4px);
  background: #fff;
  transition: 0.5s ease-in-out;
  transform: scaleY(1);
}

a:hover:before {
  transform: scaleY(0);
}

a:after {
  content: "";
  position: absolute;
  left: 6px;
  top: -2px;
  width: calc(100% - 12px);
  height: calc(100% + 4px);
  background: #fff;
  transition: 0.5s ease-in-out;
  transform: scaleX(1);
  transition-delay: 0.5s;
}

a:hover:after {
  transform: scaleX(0);
}

a span {
  position: relative;
  z-index: 3;
}
